.img-item{
  width: 100%;
  height: 50vh;
}
.item-description{
  color: grey;
  font-size:.8em!important;
  letter-spacing: 0;
  line-height: 20px;
}
.item-price{
  color:  #d86202;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;

}
.card{
  box-shadow: 2px 2px 0 0.25rem rgba(255, 152, 55, 0.25);
  padding: 0;

}

.grid-container{
  grid-gap:50px
}